* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	font-weight: 400;
	list-style: none;
	font-style: normal;
}

body {
	background: #3f1e4d;
	height: 100vh;
}

a {
	color: inherit;
	text-decoration: none;
}

.hero {
	min-height: 100vh;
}

.code_html {
	font-family: 'Pacifico', cursive;
	font-size: 24px;
	color: white;
}

.about_me {
    color: #F8F900;
}

.folders_container {
	line-height: 1.4;
	font-family: 'Pacifico', cursive;
	background: #1d1f20;
	padding: 25px 35px; 
	width: 300px;
	/* top: calc(44vh - 40px);
	left: calc(44vw - 125px); */
	top: 0;
	left: 0;
	position: fixed;
	box-shadow: 0 0 59px -15px black;
	transform: scale(0) rotate(359deg);
	transition: all 0.7s;
	font-size: 18px;
}

.folders_container_active {
	transform: scale(1) rotate(0deg);
}

h2 {  
	font-family: 'Pacifico', cursive;
	font-size: 32px;
	color: #67D8EF;
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
	transition: all .3s;
	z-index: 1;
} 

h2:hover {
    color: orange;
}

.folders-box ol li {
	margin-left: 10px;
	color: #808080;
	margin-bottom: 20px;
	font-size: 24px;
	font-family: tahome;
	text-decoration: underline;
}

.folders-box ol li:first-child {
	margin-top: 20px;
}

.folders-box ol li:nth-child(2) {
	margin-top: 60px;
}

.folders-box ol li:nth-child(3) {
	margin-top: 80px;
}

.folders_container {
	display: flex;
	flex-direction: column;
}

.folders-box ol li a {
	position: absolute;
}

.folders-box ol li a:hover {
	text-decoration: underline;
}

.code_html {
	text-align: center;
}

.for_title {
	font-size: 42px;
	color: #F8F900;
}

/* .for_tag {
	font-size: 22px;
	color: #F92447;
} */

span {
	color: #F92447;
}

/* don't quit */

.quit {
	width: 100%;
	text-align: center;
}

h1 {
	margin: 30px;
	padding: 0;
	font-size: 5em;
	transition: .5s;
	line-height: .8em;
	font-family: tahome;
}

h1 span {
	position: relative;
	text-transform: uppercase;
	display: block;
	color: #E7C855;
}

h1 span:nth-child(1):before {
	content: '';
	position: absolute;
	top: calc(50% - 15px);
	right: 0;
	width: 39%;
	height: 30px;
	background: #f00;
	transform-origin: right;
	transform: scaleX(0);
	transition: .5s;
	z-index: 1;
}

h1:hover span:nth-child(1):before {
	transform: scaleX(1);
}

h1 span:nth-child(2):before {
	content: '';
	position: absolute;
	top: calc(50% - 15px);
	left: 20%;
	width: 42%;
	height: 30px;
	background: #f00;
	transform-origin: left;
	transform: scaleX(0);
	transition: .5s;
	z-index: 1;
}

h1:hover span:nth-child(2):before {
	transform: scaleX(1);
}

h1 span hide {
	transition: .5s;
	transition-delay: 1s;
}

h1:hover span hide {
	transition-delay: 1s;
	color: #f00;
	opacity: 0;
}

h1:hover span:nth-child(1) hide {
	padding-right: 30px;
} 

h1:hover span:nth-child(2) hide {
	padding-right: 40px;
} 

nav {
	line-height: 1.4;
	font-family: 'Pacifico', cursive;
	background: #1d1f20;
	padding: 25px 35px; 
	width: 300px;
	/* top: calc(44vh - 40px);
	left: calc(44vw - 125px); */
	top: 0;
	right: 0;
	position: fixed;
	box-shadow: 0 0 59px -15px black;
	transform: scale(0) rotate(359deg);
	transition: all 0.7s;
	font-size: 18px;
}

nav.menu_active {
	transform: scale(1) rotate(0deg);
}

nav > ol > li {
	margin: 20px 0;
	color: #b5bc77;
}

nav > ol > li:first-of-type {
	color: #efc371;
}

nav > ol > li > ol {
	margin: 10px 0 0 20px;
	border-left: 1px solid #4d4d4c;
	color: #ae94c0;
}

nav > ol > li > ol > li {
	margin: 7px 0;
	padding-left: 20px;
}

nav a:hover {
	color: #dd925f;
}

h3 {
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	color: #67D8EF;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	transition: all .3s;
}

@media screen and (max-width: 580px) {
	h3 {
		font-size: 16px;
	}
	h1 {
		font-size: 3.5em;
	}
	.code_html {
		font-size: 16px;
	}
	h1 span:nth-child(2):before {
		width: 44%;
	}
	.folders-box ol li {
		font-size: 16px;
	}
	h2 {
		font-size: 12px;
	}
}

h3:hover {
	color: orange;
}

p {
	font-family: 'Pacifico', cursive;
	float: right;
	cursor: pointer;
	font-size: 17px;
	color: white;
	transition: all .2s;
}

p:hover {
	border-bottom: 2px solid white;
	padding-bottom: 5px;
}