* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	font-weight: 400;
	list-style: none;
	font-style: normal;
}

body {
	background: #3f1e4d;
	height: 100vh;
}

a {
	color: inherit;
	text-decoration: none;
}

nav {
	line-height: 1.4;
	font-family: 'Pacifico', cursive;
	background: #1d1f20;
	padding: 25px 35px;
	width: 300px;
	top: calc(44vh - 40px);
	left: calc(44vw - 125px);
	position: fixed;
	box-shadow: 0 0 59px -15px black;
	transform: scale(0) rotate(359deg);
	transition: all 0.7s;
	font-size: 18px;
}

nav.menu_active {
	transform: scale(1) rotate(0deg);
}

nav > ol > li {
	margin: 20px 0;
	color: #b5bc77;
}

nav > ol > li:first-of-type {
	color: #efc371;
}

nav > ol > li > ol {
	margin: 10px 0 0 20px;
	border-left: 1px solid #4d4d4c;
	color: #ae94c0;
}

nav > ol > li > ol > li {
	margin: 7px 0;
	padding-left: 20px;
}

nav a:hover {
	color: #dd925f;
}

h3 {
	position: absolute;
	font-family: 'Pacifico', cursive;
	font-size: 85px;
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	transition: all .3s;
}

h3:hover {
	color: orange;
	font-family: 'Pacifico', cursive;
}

p {
	font-family: 'Pacifico', cursive;
	float: right;
	cursor: pointer;
	font-size: 17px;
	color: white;
	transition: all .2s;
}

p:hover {
	border-bottom: 2px solid white;
	padding-bottom: 5px;
}