* {
	margin: 0;
	padding: 0;
}
.section__values {
	height: 90vh;
	width: 100%;
	background: #111011;
}
h1 {
	text-align: center;
	font-size: 36px;
	color: #FFF;
}
.toggler {
	margin-top: 20px;
	width: 100%;
	position: absolute;
	z-index: 100;
}
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
.values {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	background: #111011;
	transition: all 650ms cubic-bezier(1,0,0,1);
}
.value {	
	width: 80%;
	text-align: center;
	background: none;
	border: 1px solid #FFF;
	padding: 20px;
	margin-top: 20px;
	font-size: 24px;
	color: #FFF;
}
/* Стилизация placeholder */
   .value::-webkit-input-placeholder { opacity: 1; transition: opacity 0.3s ease;}
   .value:-ms-input-placeholder { opacity: 1; transition: opacity 0.3s ease;}
   .value::-ms-input-placeholder { opacity: 1; transition: opacity 0.3s ease;}
   .value::placeholder { opacity: 1; transition: opacity 0.3s ease;} 

   .value:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
   .value:focus:-ms-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
   .value:focus::-ms-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
   .value:focus::placeholder {opacity: 0; transition: opacity 0.3s ease;}
/* конец стилизации */
.bottom-navbar {
	background: #111011;
	display: flex;
	height: 9.9vh;
}
.section {
	flex: 1;
	border: 0.1vh solid #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
}
/* эксперимент*/
.container-cat {
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cat {
	font-size: 24px;
	color: #fff;
	padding: 10px;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: #313131;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}
/**
 * Кнопка
 */
.btn {
  /* по-умолчанию для <button>, но пригодится для <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;
  height: 60px;
  width: 190px;
  font-size: 20px;
  font-weight: 1000;
  text-align: center;
  margin: 0 auto;
  /* создаём маленькие отступы, если кнопки перенесутся на две строки */
  margin: 2px 0;

  /* невидимая граница (понадобится для цвета при наведении/фокусе) */
  border: solid 1px #fff;

  /* размер строится из текста и отступов (без width/height) */
  padding: 0.5em 1em;

  /* убедитесь, что достаточно контраста! */
  color: #ffffff;
  background-color: #313131;
  }

/* инвертируем цвета при наведении */
.btn:hover {
  background-color: #505050;
}
