* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

body {
	 background:url(../img/hero.jpg) no-repeat center center fixed; 
 	 -webkit-background-size: cover;
 	 -moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
}

.toggle-menu {
	position: absolute;
	padding: 15px 20px 15px 15px;
	margin-top: 70px;
	color: white;
	cursor: pointer;
	background: #648B79;
	z-index: 10000;
	font-size: 2em;
	opacity: 0;
}

.sidebar-menu {
	position: fixed;
	width: 350px;
	margin-left: 0px;
	overflow: hidden;
	height: 100vh;
	max-height: 100vh;
	background: rgba(17, 17, 17, .9);
	opacity: 0.9;
	transition: all 0.3s ease-in-out;
}

.fa-times {
	position: absolute;
	right: 10px;
	top: 10px;
	opacity: 0.7;
	cursor: pointer;
	color: white;
	transition: all 0.3s ease-in-out;
}

.fa-times:hover {
	opacity: 1;
}

.boxed-item {
	font-family: 'Open Sans';
	font-weight: 200;
	padding: 10px 20px;
	display: inline-block;
	border: solid 2px white;
	box-sizing: border-box;
	font-size: 22px;
	color: white;
	text-align: center;
	margin-top: 70px;
}

.logo-bold {
	font-weight: 800;
}

.logo-title {
	color: white;
	font-family: 'Open Sans';
	font-weight: 200;
	font-size: 12px;
	text-align: center;
	padding: 5px 0px;
}

.navigation-selection {
	margin: 20px 0;
	display: block;
	width: 200px;
	
}

.navigation-item {
	font-weight: 200;
	font-family: 'Open Sans';
	color: white;
	padding: 12px 0;
	box-sizing: border-box;
	font-size: 14px;
	color: #D8D8D8;
	border-bottom: solid 1px #D8D8D8;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.boxed-item-smaller {
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.boxed-item-smaller:hover {
	background: white;
	color: #111;
}

.hide-menu {
	margin-left: -350px;
}

.opacity-one {
	opacity: 1;
	transition: all 0.3s ease-in-out;
}