<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Physic Errors</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="particles-js"></div>
    <div id="app">
        <div class="container">

            <button @click="choise_direct" class="for_direct">Прямые измерения</button>
            <button @click="choise_inderect" class="for_indirect">Косвенные измерения</button>

            <div v-if="choise === 'direct'" id="direct_measurements">
                <form v-on:submit.prevent="addNewMeasurement">
                    <input
                    type=number
                    step="any"
                    v-model="newMeasurementNumber"
                    id="new-Measurement"
                    placeholder="Введите измерение"
                    id="input" class="Input-text" 
                    >
                    <input
                    type=number
                    step="any"
                    v-model="instrument_error"
                    placeholder="Введите приборную погрешность"
                    class="Input-text" 
                    > 
                    <button>Добавить</button>
                    <button class = "computing" @click="computing_direct">Рассчитать</button>
                </form>
                <div class="measurements">
                    <ul>
                        <li
                        is          = "measurement-item"
                        v-for       = "(measurement, index) in measurements"
                        v-bind:key  = "measurement.id"
                        v-bind:num  = "measurement.num"
                        v-on:remove = "measurements.splice(index, 1)"
                        ></li>
                    </ul>
                </div>
                <div class="res">
                    <p>Ваша приборная погрешность:</p>
                    <p>Приборная погрешность = {{ new_instrument_error }}</p>
                    <br>
                    <p>Коэффициенты:</p>
                    <p v-if = "tpn!=0">tP, N Стьюдента    : {{ tpn }}</p>
                    <p v-if = "bpn!=0">bP, N для расчета доверительной погрешности    : {{ bpn }}</p>
                    <p v-if = "upn!=0">uP, N для проверки результатов наблюдения    : {{ upn }}</p>
                    <p v-if = "vpn!=0">vP, N для проверки грубых погрешностей    : {{ vpn }}</p>
                    <br>
                    <p>Среднее значение из n переменных:</p>
                    <p><img src="img/average.gif" alt="average"> = {{ average }}</p>
                    <br>
                    <p>Размах выборки:</p>
                    <p>R = {{ range }}</p>
                    <br>
                    <p>СКО и СКО среднего:</p>
                    <p><img src="img/sko.gif" alt="Среднее квадратичное отклонение среднего"></p>
                    <p><img src="img/skos.gif" alt="Отклонение среднего"> = {{ SKOS }}</p>
                    <br>
                    <p>Случайная погрешность по коэффициенту Стьюдента:</p>
                    <p>Δx  = tpn*Sk = {{ random_error }}</p>
                    <p>Случайная погрешность по размаху выборки:</p>
                    <p>Δx = bpn*R  = {{ range_error }}</p>
                    <br>
                    <p>Итоговая погрешность:</p>
                    <p>Полная погрешность              = {{ complete_error }}</p>
                    <p>Относительная погрешность        = {{ relative_error }}</p>
                    <br>
                    <p><img src="img/result.gif" alt=""> = {{ average }} +- {{ complete_error }}</p>
                </div>
            </div>

        </div>
        <p class="created">Created by Abu</p>
    </div>
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript" src="particles.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>