@import url('https://fonts.googleapis.com/css?family=Dosis');
:root {
    /* generic */
    --gutterSm: 0.4rem;
    --gutterMd: 0.8rem;
    --gutterLg: 1.6rem;
    --gutterXl: 2.4rem;
    --gutterXx: 7.2rem;
    --colorPrimary400: #B0BEC5;
    --colorPrimary600: rgb(53,167,110);
    --colorPrimary800: #4527a0;
    --fontFamily: "Dosis", sans-serif;
    --fontSizeSm: 0.9rem;
    --fontSizeMd: 1.6rem;
    --fontSizeLg: 2.1rem;
    --fontSizeXl: 2.8rem;
    --fontSizeXx: 3.6rem;
    --lineHeightSm: 1.1;
    --lineHeightMd: 1.8;
    --transitionDuration: 300ms;
    --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);
    
    /* floated labels */
    --inputPaddingV: var(--gutterMd);
    --inputPaddingH: var(--gutterLg);
    --inputFontSize: var(--fontSizeSm);
    --inputLineHeight: var(--lineHeightMd);
    --labelScaleFactor: 0.8;
    --labelDefaultPosY: 50%;
    --labelTransformedPosY: calc(
    (var(--labelDefaultPosY)) - 
    (var(--inputPaddingV) * var(--labelScaleFactor)) - 
    (var(--inputFontSize) * var(--inputLineHeight))
    );
    --inputTransitionDuration: var(--transitionDuration);
    --inputTransitionTF: var(--transitionTF);
    }
.created {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    font-size: 10px;
}
html {
    font-size: 20px;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: #455A64;
    font-family: var(--fontFamily);
    font-size: var(--fontSizeMd);
    line-height: var(--lineHeightMd);
}
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #A4C45F, #F0F06D);
}
#app {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: start;
}
.container {
    position: relative;
    width: 335.5px;
}
.container button {
    font-family: inherit;
    font-weight: inherit;
    line-height: var(--inputLineHeight);
    border: none;
    border-radius: 0.4rem;
    font-weight: 700;
    color: var(--colorPrimary400);
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: white;
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}
.container button:hover {
    background: rgb(53,167,110);
}
.container button:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}

#direct_measurements {
    padding-top: 30px;
    padding-bottom: 50px;
}
#direct_measurements ul {
    height: 25vh;
    overflow: auto;
    position: relative;
    display: inline-block;
}

#direct_measurements ul::-webkit-scrollbar { 
    display: none;  
}
#direct_measurements ul {
    line-height: 6px;
    height: inherit;
    display: flex;
    position: relative;
    left: -50px;
}
#direct_measurements ul p {
    font-size: 16px;
    display: inline-block;
    padding-left: 30px;
}
#direct_measurements ul p span {
    font-size: 28px;
    position: relative;
    top: 2px;
    right: 2px;
}
.button_center {
    position: absolute;
    bottom: 20px;
}
#direct_measurements ul li {
    font-size: 16px;
    list-style: none;
}
#direct_measurements ul p:hover {
    cursor: pointer;
    transition: .3s;
    color: #E7403D;
}

/* хром, сафари */
.res::-webkit-scrollbar { width: 0; }
/* ie 10+ */
.res { -ms-overflow-style: none; }
/* фф (свойство больше не работает, других способов тоже нет)*/
.res { overflow: -moz-scrollbars-none; }
.res {
    position: relative;
    top: 30px;
    font-size: 16px;
    height: 26vh;
    overflow: auto;
    font-family: inherit;
    font-weight: inherit;
    border: none;
    border-radius: 0.4rem;
    font-weight: 700;
    color: var(--colorPrimary600);
    padding-left: 12px;
    border-radius: 3px;
    background: white;
    box-shadow: 0 -3px var(--colorPrimary600) inset;
    transition: 0.2s;
    line-height: 12px;
}

/* хром, сафари */
.measurements::-webkit-scrollbar { width: 0; }
/* ie 10+ */
.measurements { -ms-overflow-style: none; }
/* фф (свойство больше не работает, других способов тоже нет)*/
.measurements { overflow: -moz-scrollbars-none; }
.measurements {
    position: relative;
    top: 15px;
    font-size: 16px;
    height: 15vh;
    overflow: auto;
    overflow-y: hidden;
    font-family: inherit;
    font-weight: inherit;
    border: none;
    border-radius: 0.4rem;
    font-weight: 700;
    color: var(--colorPrimary600);
    text-decoration: none;
    padding-left: 12px;
    border-radius: 3px;
    background: white;
    box-shadow: 0 -3px var(--colorPrimary600) inset;
}

/* Стилистика input */
*,
*::before,
*::after {
box-sizing: border-box;
}
.Input {
position: relative;
}
.Input-text {
display: inline-block;
margin: 0 0 6px 0;
padding: var(--inputPaddingV) var(--inputPaddingH);
color: inherit;
box-shadow: 0 -3px rgb(53,167,110) inset;
width: 100%;
height: 40px;
font-family: inherit;
font-size: 16px;
font-weight: inherit;
line-height: var(--inputLineHeight);
border: none;
border-radius: 0.4rem;
transition: box-shadow var(--transitionDuration);
}
.Input-text::placeholder {
color: #B0BEC5;
}
.Input-text:focus {
outline: none;
box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
}
@media screen and (max-width: 335.5px) {
    .Input-label {
        bottom: 25%;
    }
    .container {
        width: 320px;
    }
    .for_direct {
        width: 150px;
    }
    .for_indirect {
        width: 150px;
    }
}

