<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Adaptability -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<!-- For all IE -->
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>MyApp</title>
	<!-- css  -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<!-- vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="demo">
	<div class="section__values">
				<transition name="slide-fade" mode="out-in">
					<div v-if="show" class="values">
						<p>
						    <input v-model="newCat" class="value" size="20" placeholder="Не стесняйся">
						    <button @click="addCat" class="btn">Добавить кота</button>
  						</p>
						<!-- <input class="value" type="text" size="20" placeholder="продукт." v-model="product"> -->
						<!-- <input class="value" type="text" size="20" placeholder="цена.">
												<input class="value" type="text" size="20" placeholder="ккалорий.">
												 -->						<h1 v-on:click="show = false">&#10006;</h1>
					</div>
				</transition>
				<h1>Нажмите суда, чтобы добавить</h1>
		<h1 v-on:click="show = true">&#9546; {{product}}</h1>
		<div v-for="(cat, n) in cats">
		    <p class="container-cat">
		      <span class="cat">{{ cat }}</span>
		      <button @click="removeCat(n)" class="btn">Удалить</button>
		    </p>
  		</div>
	</div>
	<div class="bottom-navbar">
		<div class="section 1">1</div>
		<div class="section 2">2</div>
		<div class="section 3">3</div>
	</div>
</div>
<script src="js/script.js"></script>
</body>
</html>